<div class="WrapperLinkInputs"  id="ModifBlocklien">

    <div>
        <label>Intitulé :</label>
        <input type="text" id="ChampIntituleLien" value="<%= dataLinkToMod.intituleLien %>" />
    </div>
    <div>
        <label>Fournisseurs :</label>
        <select multiple="" size="10">
            <option value="">- aucun fournisseur -</option>
            <% listeFournisseurs.forEach(function(fnr) { %>
            <option 
                value="<%= fnr.CFRCAHP %>" 
                <%= (dataLinkToMod.listeFnrs.indexOf(fnr.CFRCAHP.toString()) > -1 ? selected="selected" : "") %>
            ><%= fnr.DFRABREGE %></option>
            <% }) %>
        </select>
        <span class="nbFnrsSelected"><%= dataLinkToMod.listeFnrs.length %> fnr(s) sélectionné(s)</span>
    </div>
    <div>
        <label>Hyperlien :</label>
        <span id="inputHyperLien">
            <input type="text" id="ChampHyperlien_Mod" disabled="disabled" value="<%= dataLinkToMod.hrefLien %>" />
            <span id="BtChxModifCible">Modifier</span>
        <span>
    </div>
    <div>
        <button class="ClassAnnulLien"><i class="fas fa-undo"></i>Annuler Modif.</button>
        <button class="ClassEnrLien"><i class="fas fa-check"></i>Enregistrer</button>
    </div>

</div>