<% 
var X = (typeof idRubr == 'undefined' ? 0 : idRubr);

var up = false; var down = false; 
if(typeof btsUpDownDisabled !== 'undefined') { up = btsUpDownDisabled.Up; down = btsUpDownDisabled.Down; }

contenuFile.forEach(function(cf) {
%>

    <div data-type="rubrique" id="<%= X %>">        
    
        <div class="Bts_UpAndDown">
            <i class="fas fa-arrow-circle-up  <%= ((X === 0 || up === true) ? 'disabled OFF' : '')%>" data-move="up" title="Déplacez la rubrique vers le haut" ></i><i class="fas fa-arrow-circle-down <%= ((X === (contenuFile.length - 1) || down === true) ? 'disabled OFF' : '') %>" data-move="down" title="Déplacez la rubrique vers le bas" ></i>
        </div>

        <div class="BandeauTitreLeft">
            <div class="BandeauTitre_Gauche"></div>
            <div class="BandeauTitreRight">
                <div class="TitreBandeau">
                    <div class="Intitule"><%= cf.rubrique %></div>
                    <button class="ClassModRubrique"><i class="fas fa-pencil-alt"></i>Modifier</button>
                    <button class="ClassSupprRubrique"><i class="fas fa-times"></i>Supprimer</button>
                    <button class="ClassAnnulRubrique Hidden"><i class="fas fa-undo"></i>Annuler modif.</button>
                    <button class="ClassEnrRubrique Hidden"><i class="fas fa-check"></i>Enregistrer</button>
                </div>
            </div>
        </div>
        <button class="ClassAjoutLien"><i class="fas fa-plus-circle"></i>Ajouter un lien</button>      
        <div class="NewsAccueil" id="GrpLinksRubr_<%= X %>"><!-- id obligatoires pour que le jquery.sortable fonctionne ! -->
           
            <% include lien %>

        </div>

    </div>


<% 
X++;   
}); %>
